body {
margin : 0;
padding : 0;
font : 73% verdana, "Trebuchet MS", arial, tahoma, sans-serif;
line-height : 1.7em;
color : #666;
background : #fafafa;
}
  /*Login Page */
#login_title{
font-size: 18px;
font-weight:bold;
color:#000000;
padding:10px 0 0 20px;
margin:0px;
float:left;
}

a.pass_forgot{
float:right;
color:#000000;
padding:15px 20px  0 0;
display:block;
margin:20px 0 0 0;
}

#login_page
{
margin:0 auto;
width:900px;
padding:0px 0 0px 0;
}

.login_form{
width:600px;
height:260px;
background:#EEEEEE;
border:1px solid #000000;
margin:130px 0 0 145px;
float:left;
padding:0px 0 0 0px;
}

.form
{
width:600px;
float:left;
clear:both;
}

fieldset 
{ 
border:none; 
clear:both;
}

label 
{
font-size:11px; 
font-weight:bold; 
color:#000000;
}

dl 
{
clear:both; 
width:600px;
}

dl.submit 
{
clear:both; 
width:500px;
text-align:center;
padding:15px 0 0 150px;
}

dt 
{
float:left;
text-align:right; 
width:170px; 
line-height:34px; 
padding:0 8px 10px ;
}

dd
 {
 float:left; 
 width:400px; 
 margin:0 0 10px 0;
 }
 
#email{
 padding-top:10px;
 }
 
#password{
 padding-top:10px;
 }

.footer_login{
width:600px;
margin:auto;
color:#000000;
}


#container {
width : 920px;
margin-bottom:auto;
margin-left : auto;
margin-right : auto;
padding : 0;
color : #666;
background : #fff;
border: 1px solid #666;
}
			/*TOP BANNER*/
#banner {
height : 70px;
padding : 0;
margin : 0;
color : #666;
background : #EEEEEE;
}

#banner h2{
margin-top : 0;
padding : 5px 0 0 15px;
font-size : 2em;
color : #000000;
background : inherit;}

#bannerlist{
text-align : left;
letter-spacing : 2px;
position:absolute;
top:30px;
left: 610px;
}

#bannerlist li {
list-style : none;
margin : 0;
display : inline;
color:#000000;
}

#log{
padding-right: 15px;
}

			/*TOP MENU*/
#navlist {
padding : 3px 0;
margin : 0;
text-align : left;
letter-spacing : 1px;
border : 0px solid #eee;
background : #FFFFFF;
}

#navlist li {
list-style : none;
margin : 0;
display : inline;
}

#navlist li a {
padding : 6px 0.5em;
margin-left : 3px;
color : #000000;
background : #FFFFFF;
text-decoration : none;
}

#navlist li a:link, #navlist li a:visited {
color : #000000;
background : #FFFFFF;
}

#navlist li a:hover, #navlist li a#current {
color : #000000;
background : #EEEEEE;
}

			/*MAIN CONTENT*/
#content {
padding : 5px;
margin-left : 20px;
margin-bottom : 0;
color : #666;
background : #fff;}

#content h1{
color:#000000;
text-align: center;
}

#panels{
width:780px;
height: 440px;
margin-left : auto;
margin-right : auto;
margin-bottom: 40px;
padding : 0;
color : #666;
background : #fff;
border: 1px solid #EEEEEE;
}

#pan1{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 200px;
left:280px;
}

#pan1 h3{
font-size: 12px;
position:absolute;
left:35px;
top:25px;
}

#pan2{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 200px;
left:540px;
}

#pan2 h3{
font-size: 12px;
position:absolute;
left:45px;
top:25px;
}

#pan3{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 200px;
left:800px;
}

#pan3 h3{
font-size: 12px;
position:absolute;
left:40px;
top:25px;
}

#pan4{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 470px;
left:280px;
}

#pan4 h3{
font-size: 12px;
position:absolute;
left:50px;
top:25px
}

#pan5{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 470px;
left:540px;
}

#pan5 h3{
font-size: 12px;
position:absolute;
left:50px;
top:25px;
}

#pan6{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 470px;
left:800px;
}

#pan6 h3{
font-size: 12px;
position:absolute;
left:45px;
top:25px;
}

#pan7{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 330px;
left:410px;
}

#pan7 h3{
font-size: 12px;
position:absolute;
left:50px;
top:25px;
}

#pan8{
border: 1px solid #000000;
width:180px;
height:100px;
background: #EEEEEE;
position:absolute;
top: 330px;
left:670px;
}

#pan8 h3{
font-size: 12px;
position:absolute;
left:50px;
top:25px;
}
			/*SIDEBAR*/
#sidenav {
float : left;
width : 170px;
margin : 0 5px 10px 0;
border: 1px solid #000000;
position:absolute;
top:150px;
left: 200px;
line-height:30px;
}

#sidenav h1{
margin: 10px 30px 0 0; 
padding-left: 30px;
font : bold verdana, "Trebuchet MS", arial, tahoma, sans-serif;
font-size:14px;
letter-spacing : 2px;
color : #000000;
}

			/*SIDEBAR LINKS*/
#sidenav ul li {
margin : 0 10px 0 0;
padding-bottom : 20px;
list-style: none;
color : #000000;
font-weight:normal;
}
#sidenav a {
text-decoration : none;
color : #000000;
}

#sidenav a:hover {
color : #000000;
background : #EEEEEE;
}

         /*FORMS AND THEIR ELEMENTS */

#addsocialeventform{
width:300px;
height: 550px;
margin-left : auto;
margin-right : auto;
margin-bottom: 80px;
padding : 0;
color : #666;
background : #fff;
border: 1px solid #000000;
position:absolute;
top:150px;
left:410px;
}

form #inf5{
margin-top:40px;
margin-left: 90px;
}

#addraceeventform{
width:300px;
height: 550px;
margin-left : auto;
margin-right : auto;
margin-bottom: 80px;
padding : 0;
color : #666;
background : #fff;
border: 1px solid #000000;
position:relative;
top:50px;
left:270px;
}

form #inf4{
margin-top:40px;
margin-left: 90px;
}

#editraceeventform{
width:300px;
height: 610px;
margin-left : auto;
margin-right : auto;
margin-bottom: 20px;
padding : 0;
color : #666;
background : #fff;
border: 1px solid #000000;
position:relative;
top:0;
left:210px;
}

form #inf6{
margin-top:40px;
margin-left: 90px;
}

#table {
position:relative;
top:10px;
left:30px;
margin-bottom:40px;;
}

#table h3{
color:#000000;
text-align:center;
}

#table h4{
color:#000000;
text-align:center;
}

#table td{
color:#000000;
text-align:center;
}

#back{
float:right;
font-weight:bold;
margin-top: -40px;
margin-right: 35px;
}

#addmemberform{
width:300px;
height: 315px;
margin-left : auto;
margin-right : auto;
margin-bottom: 80px;
padding : 0;
color : #666;
background : #fff;
border: 1px solid #000000;
position:absolute;
top:150px;
left:400px;
}

form #inf{
margin-top:30px;
margin-left: 70px;
}

#deletememberform{
width:300px;
height: 240px;
margin-left : auto;
margin-right : auto;
margin-bottom: 80px;
padding : 0;
color : #666;
background : #fff;
border: 1px solid #000000;
position:relative;
top:90px;
left:260px;
}

form #inf2{
margin-top:50px;
margin-left: 70px;
}

form #desc{
color:#000000;
text-align: center;
}

#raceResultsform{
width:370px;
height: 320px;
margin-left :auto;
margin-right : 0;
margin-bottom: 90px;
padding-bottom : 40px;
color : #666;
background : #fff;
border: 1px solid #000000;
position:relative;
top:70px;
left:-50px;
}

#sendemailform{
width:610px;
height: 700px;
margin-left :auto;
margin-right : 0;
margin-bottom: 90px;
padding-bottom : 40px;
color : #666;
background : #fff;
border: 1px solid #000000;
position:relative;
top:50px;
left:-50px;
}

form p{
color: #000000;
}


#newsform{
width:610px;
height: 830px;
margin-left :auto;
margin-right : 0;
margin-bottom: 90px;
padding-bottom : 40px;
color : #666;
background : #fff;
border: 1px solid #000000;
position:relative;
top:50px;
left:-50px;
}

form #inf7{
margin-top:0px;
margin-left: 270px;
}

.description_form h2{
    margin:10px 0 0 0;
	text-align: center;
	text-decoration:none;	
    color:#000000;
}

form ul{
	font-size:100%;
	list-style-type:none;
    text-decoration:none;
	margin:0 ;
	padding:0;
	width:100%;
}

form li{
	display:block;
	margin:0 0 0 30px;
	padding:4px 0 2px 9px;
	position:relative;
}
 
 
 form #saveRaceEventsForm{
 float:left;
 margin-left: 90px;
 margin-top: 10px;
 }

 form #clearRaceEventsForm{
 float:right;
 margin-right:20px;
 margin-top:5px;
 }
 
 form #saveSocialEventsForm{
 float:left;
 margin-left: 90px;
 margin-top: 10px;
 }
 
 form #clearSocialEventsForm{
 float:right;
 margin-right: 20px;
 margin-top: 5px;
 } 
 
 form #i9{
 width: 230px;
 }
 
form #saveEditRaceEventsForm{
 float:left;
 margin-left: 90px;
 margin-top: 10px;
 }
 
 form #clearEditRaceEventsForm{
 float:right;
 margin-right: 20px;
 margin-top: 5px;
 }
  
 
form #e1{ 
 width: 230px; 
 margin-bottom:20px;
 }

 form #e2{ 
 width: 230px; 
 margin-bottom:20px;
 }

form #e3{ 
 width: 230px; 
 margin-bottom:20px;
 }
  
 
 form #saveMemberForm{
 float:left;
 margin-left: 80px;
 margin-top: 0px;
 }
 
 form #clearMemberForm{
 float:right;
 margin-right: 30px;
 margin-top: -5px;
 }

form #e5{ 
 width: 230px; 
}

  
 form #deleteMemberForm{
 float:left;
 margin-left: 80px;
 margin-top: 20px;
 }
 
 form #clearDeleteMemberForm{
 float:right;
 margin-right: 30px;
 margin-top: 15px;
 }
 
 
 form #e6{
 width: 300px; 
 margin-bottom:10px;
 }
  
 
form #e7{
width: 300px;
margin-bottom: 10px;
}

form #e8{
width: 300px;
margin-bottom:10px;
}

form #e9{
width: 300px;
margin-bottom: 10px;
}
 
form #saveRaceForm{
 float:left;
 margin-left: 160px;
 margin-top: 15px;
 }
 
 form #clearRaceForm{
 float:right;
 margin-right: 20px;
 margin-top: 12px;
 } 
 
 form #inf3{
 margin-top: 40px;
 margin-left: 110px; 
 }
 
 form #el1{
 width: 360px;
 margin-bottom: 10px;
 }
  
 form #el2{
 width: 360px;
 margin-bottom: 10px;
 } 
 
 form #el3{
 width: 360px;
 margin-bottom: 10px;
 }
 
 
form#el5{
width: 360px;
margin-bottom: 10px;
} 


 form #el6{
 width: 550px;
 margin-bottom: 10px;
 }
 
 
 form #el7{  
 margin-bottom: 10px;
 }
 
 form #elem4{
 margin-bottom: 10px; 
 }
 
 
 form #saveMailForm{
 margin-left: 410px;
 margin-top: 0;
 }
 
 form #clearMailForm{
 float:right;
 margin-right: 40px;
 margin-top: -30px;
 } 
 
 
 form #in1{
 width:200px;
 margin-bottom: 10px; 
 }
 
 form #input2{
 margin-bottom: 10px;
 float:left;
 margin-right: 40px;
 }
 
 form #input3{
 margin-bottom: 10px; 
 }
 
 form #in4{ 
 margin-bottom: 10px; 
 }
 
form #saveNewsForm{
 margin-left: 390px;
 margin-top: 0;
 }
 
 form #clearNewsForm{
 float:right;
 margin-right: 40px;
 margin-top: -30px;
 }  
  

			/*FOOTER*/
#footer {
height: 50px;
width: 850px;
text-align : right;
color : #000000;
background : url(images/BarWideBlack.jpg) repeat-x;
margin-left: 35px;
}
			

			/*LINKS*/
a {
text-decoration : underline;
color : #000000;
background : inherit;
}
a:hover {
text-decoration : none;
color : #003366;
background : inherit;
}


	       /*IMAGES*/
#raceimage{
padding-bottom: 20px;
position:absolute;
top: 760px;
left:240px;
}

#raceimage2{
padding-bottom: 40px;
position:absolute;
top: 550px;
left:250px;
}

#raceimage3{
position:absolute;
top: 630px; 
left:200px;
}

